html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   }

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

#map-canvas {

    height: 100%;
    width: 50%;
    margin: auto;

}

