body {
  
  font:  "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 5rem);
}

main{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  
 }

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

#map-canvas {
  height: 92%;
  width: 100%;
  margin: auto;

}