<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Map</title>

  <!--icon-->
  <link rel="icon" type="image/x-icon" href="http://localhost:3000/images/icon-logo.png">

  <!--bootstrap.css-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!--bootstrap.icon.css-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">

  <!--css-->
  <link rel='stylesheet' href='http://localhost:3000/stylesheets/style.css' type='text/css'/>

  <!--google charts-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <!-- javascript file -->
  <script type="module" src="http://localhost:3000/javascripts/maps.js"></script>
  <script type="text/javascript" src="http://localhost:3000/javascripts/mapstyle.js"></script>
  <script type="text/javascript" src="http://localhost:3000/javascripts/barchart.js"></script>
  <script type="text/javascript" src="http://localhost:3000/javascripts/linechart.js"></script>


</head>
<body class="bg-dark" >
 
<!--navbar on top-->
  <nav class="navbar navbar-expand-lg bg-dark border-bottom border-white border-1 border-opacity-25" style="flex:2;z-index: 2;">
    <div class="container-fluid mx-3 " >
      <span data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" style="cursor:pointer;">
      <span class="bi bi-list me-5" style="color:#ffffff;font-size: 25px;"></span>
      </span>


      <a href="#" class="navbar-brand text-white">
        <img src="http://localhost:3000/images/logo.png" type="button" onclick='location.href=("index.html")'>
        </a>
      <button 
        class="navbar-toggler text-white" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navmenu"
        >
          <span class="bi bi-list"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar nav ms-auto">
          <li class="nav-item"><div class="nav-link text-white" type="button" onclick='location.href=("resources.html")'>Resourses</div></li>
          <li class="nav-item"><div class="nav-link text-white" type="button" onclick='location.href=("about.html")'>About</div></li>
        </ul>
      </div>
    </div>
  </nav>

  
<!--sidebar for charts display-->
  <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="margin-top: 75px; background-color: rgb(255, 255, 255);z-index: 3; width:600px">
    <div class="offcanvas-header">
      <div>
      <h3 class="offcanvas-title" id="offcanvasScrollingLabel" style="display: inline-block;">Carbon Intensity Data</h3>
      <div type="button" onclick="window.print()" style="padding: 8px;display: inline-block;"><i class="bi bi-printer" style="width: 20px;"></i></div>
      </div>
      
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
     
    </div>
    <div class="offcanvas-body">
      <h5 class="mb-3">Selected Region</h5>
      <div class="toast show" style="width:80px; box-shadow: none;">
        <div class="d-flex" style=" justify-content: center;vertical-align: middle; padding-top: 10px; ">
        <p style="display: inline-block;">London</p>
        <sppan type="button" class="btn-close"  data-bs-dismiss="toast"></span>
        </div>
      </div>
      <h5 class="my-3">Energy type comparison for selected region</h5>
      <div class="mb-5" id="barchart_material" style="width: 500px; height: 250px; z-index: 1;"></div>
      <h5 class="mb-3">Carbon intensity history</h5>
      <div id="curve_chart" style="width: 500px; height: 250px; z-index: 1;"></div>
    </div>
    

    
  </div>

<div style="position:absolute; width: 100px; height: 300px; top:150px; right: 10px; background-color: #ffffff;z-index: 100;">
  <p style="transform: rotate(90deg); transform-origin: left top 0;margin-left: 100px;">CarbonIntensity(gCO₂eq/kWh)</p>
</div>


<!--map display-->
<div id="map-canvas" style="position: relative; ">
</div>





  <!--Jquery-->
  <script type='text/javascript' src='https://code.jquery.com/jquery-3.5.1.js'></script>
  <!--bootstrap.js-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <!-- Load google maps API -->
  <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
    ({key: "AIzaSyCerOaQBfdb1V7FCd9Qgk_oi9kMGAqWjfA", v: "weekly"});</script>
    <script type="module" src="http://localhost:3000/javascripts/maps.js"></script>

  </body>
</html>